table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0; padding: 10px}
        td.diff_header {text-align:right; padding: 10px}
        .diff_next {background-color:#c0c0c0; padding: 10px}
        .diff_add {background-color:#aaffaa; padding: 10px}
        .diff_chg {background-color:#ffff77; padding: 10px}
        .diff_sub {background-color:#ffaaaa; padding: 10px}