<!doctype html>
<html>
   <head>
       <meta charset="UTF-8">
        <title>Upload a C++ file</title>
   </head>
   <body>
       {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {%- for category, msg in msgs %}
                    <div class="alert alert-info">
                    {{category.capitalize()}}: {{ msg }}
                    </div>
                {% endfor -%}
            {% endif %}
       {% endwith %}

        <h1>Upload a file to compile and run</h1>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <p>
                <input type="file" name="file"><br/>
                <input type="submit" value="Upload">
            </p>
        </form>
   </body>
</html>